//https://www.w3schools.com/css/css3_fonts.asp
@font-face {
  font-family: Caveat;
  src: url(font/Caveat-Regualar.ttf);
}

body {
  font-family: Caveat;
  font-size: 20px;
}

.container {
  position: relative;

.miljo {
  color: green;
}
.heading {
  font-family: sans-serif;
  position: absolute;
  margin-left: 5vw;
  margin-right: 50vw;
  &__first {
    margin-top: 5vw;
    color: #005ba7;
    font-size: 5vw;
  }
  &__second {
    font-family: Caveat;
    font-size: 2.5vw;
  }
}

.single__paragraph {
  position: absolute;
  margin-left: 5%;
  margin-right: 45%;
  margin-top: 34%;
  color: white;
  font-size: 2.5vw;
}


.background {
  position: relative;
  width: 100%;
  height: 100%;

  & img {
    position: absolute;
  }
  &__red {
    z-index: -10;
  }
  &__lightblue {
    z-index: -9;
  }
  &__blue {
    z-index: -8;
  }
  &__white {
    z-index: -7;
  }
}

.earth {
  position: relative;
  width: 100%;
  height: 100%;

  & img {
    position: absolute;
  }
  &__item1 {
    z-index: -6;
  }
  &__item2 {
    z-index: -5;
  }
  &__item3 {
    z-index: -4;
  }
  &__item4 {
    z-index: -3;
  }
  &__item5 {
    z-index: -2;
  }
  &__item6 {
    z-index: -1;
  }
}

.kids {
  position: relative;
  width: 100%;
  height: 100%;

  & img {
    position: absolute;
  }
}

.moon {
  position: relative;
  width: 100%;
  height: 100%;

  & img {
    position: absolute;
  }
}

.logo {
  position: relative;
  width: 100%;
  height: 100%;

  & img {
    position: absolute;
  }
  &__ntnu {
    margin-top: 2vw;
  }
}


  /*The small earth patch*/
  /*css drawing*/
  &__text {
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 100% 45% 62% 58% / 67% 98% 76% 36%;
    background-color: #a1cf6d;
    border: 0.3vw solid black;
    top: 80%;
    left: 45%;
  }
  &__mail {
    font-size: 2.5vw;
    margin-left: 1.5vw;
  }
}

/*CSS animation, lecture week 12 (lefty) page 67+68*/
@keyframes moveMoon {
  0% {
    transform: translateY(-3vw);
  }
  50% {
    transform: translateY(7vw);
  }
  100% {
    transform: translateY(-3vw);
  }
}
.moon {
  animation: moveMoon 5s infinite ease-in-out;
}
